div {
      cursor: pointer;
    }
    div:hover {
      color: #6699ff;
    }
    .is-completed {
      text-decoration: line-through;
      color: #ff9966;
    }
    .is-completed:hover {
      font-weight: bold;
      color: #ff9966;
    }